<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ userName + title }}</h1>
      <ul>
        <li><input [(ngModel)]="userName" type="text" /></li>
        <li>
          <button [disabled]="!userName" (click)="reset()">click me</button>
        </li>
        <li><button (click)="displayDetails()">display details</button></li>
        @if (showPara) {
        <li>Lorem ipsum dolor iente aut, atque fugiat sint?</li>
        }
        @for (item of clicksArr; track $index) {
        <li
          [ngStyle]="{ backgroundColor: count > 4 ? 'blue' : '' }"
          [ngClass]="{ textColor: count >= 4 }"
        >
          {{ item }}
        </li>
        }
      </ul>
    </div>
  </div>
</main>
